.header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(137, 146, 149, 0.679);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    position: relative;

    &__title {
        width: 100%;
        text-transform: uppercase;
        font-size: 4.5rem;
        margin: 0;
        position: absolute;
        top:40%; 
    }
        
    &__p {
        font-size: 1.5rem;
        width: 50%;
        text-align: center;
        position: absolute;
        top:50%;
        left:25vw;
    }
    &__a {
        background-color: white;
        color: black;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 10px;
        width: min-content; 
        //text-align: center;
        position: absolute;
        top:60%;
        left: 40vw;
        right: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
    &__iframe {
        //display: flex;
        //flex-direction: column;
        align-self: center;
        // text-align: center;
        width: 100vw;
        height: auto;
        @media (max-width:650px){
            height: auto;
        }
    }
    
}