.header {
margin-bottom: 2rem;
display: flex;
flex-direction: column;

 background-color: rgba(137, 146, 149, 0.679);
    &__iframe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
        width: 100vw;
        height: auto;
        @media (max-width:650px){
            height: auto;
        }
    }
    
}