.header {
display: flex;
justify-content: space-between;
flex-direction: row;
padding: 0.5rem;
width: 100%;
background-color: white;
color: black;
@media(max-width:650px){
    justify-content: space-around;
    }
    &__logo {
        width: 3rem;
    }
    &__nav {  
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;

        &__link{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            text-align: center;
            padding: 0.5rem;
            margin: 0 1rem;
            border-radius: 5px ;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.3rem;
            height: 60%;
            width: 6rem;
            @media(max-width: 650px){
                width: 4rem;
            }
            @media(max-width: 520px){
                max-width: min-content;
            }
        }
        &__link:hover{
            font-size: 1.5rem;
            color:rgb(62, 140, 187);
        }
    }
    
}
