.videos {
    background-color: rgba(137, 146, 149, 0.679);
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}