.videos {
    background-color: rgba(137, 146, 149, 0.679);
    margin-bottom: 2rem;
    justify-content: center;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px 400px 400px;

    @media(max-width:650px){
         grid-template-columns: 1fr;
    }
        &__item { // with grid block container
        display: flex;
        margin: 0.5rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: center;
        background-color: lightblue;

        @media(max-width:650px){
           height: max-content;
       }   
        &__vid{
            width: 640px;
	        height: 360px;
            @media(max-width:650px){
                width: 500px;
                height: 300px;
            }
        }
    }
}