.footer {
    background-color: #222;
    display: flex;
    flex-direction: column;
    height: fit-content;
    color:#f5f5f5 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    &__content{
        display: flex;
       justify-content: space-between;
        margin: 1rem;
        width: 80%;
        padding: 5px;
        @media(max-width:750px){
            flex-direction: column;
            align-items: center;
        }
          // border: 3px solid rgb(223, 4, 4);
            &__social {
                display: flex;
                flex-direction: column;
                justify-content: space-between; 
                width: 40%;
                margin-right: 1rem;
                // align-items: stretch;
                // align-content: stretch;
                // align-self: stretch;
                // border: 1px solid rgb(223, 4, 4);
                @media(max-width:750px){
                    width: 100%;
                    margin-right: 0;
                    align-items: stretch;
                }
                &__form {
                    display: flex;
                    flex-direction: column;
                    // height: 50%;
                    @media(max-width:750px){
                    // justify-content: center;
                    // align-content: center;
                    align-items: center;

                    }
                    &__label {
                        // width: 80%;
                        
                        @media(max-width:750px){
                            display: flex;
                            flex-direction: column;

                        }
                        &__p{
                            @media(max-width:750px){
                                text-align: center;
                            }
                        }
                    }
                    &__input {
                        flex-grow: 2;
                        max-width: 50%;
                        padding: 0.2rem;
                        margin: 0 1rem;
                        @media(max-width:750px){
                            align-content: center;
                            width: 100%;
                            }
                    }
                }
                &__network {
                    display: flex;
                    flex-wrap: wrap;
                    
                    // flex-direction: column;
                    // flex-grow: 1;
                    // width: 50%;
                    align-content: center;
                    align-content: stretch;
                    @media(max-width:750px){
                        align-items: center;
                        justify-content: center;
                        }
                        &__img {
                            margin: 0 1rem;
                            width: 30px;
                            height: auto;
                            @media(max-width:750px){
                                text-align: center;
                                align-self: center;
                            }
                        }
                }
            }

            &__contact {
                width: 60%;
                display: flex;
                flex-direction: column;
                // align-content: stretch;
                height: 15rem;
            //    border: 1px solid rgb(174, 10, 10);
               @media(max-width:750px){
                width: 100%;
                margin-right: 0;
                }
                &__form {
                margin-top: 0.5rem;
                display: flex;
                align-content: space-around;
                // height: 100%;
                flex-wrap: wrap;
                // border: 1px solid red;
                &__label {
                    padding: 0.2rem;
                    margin-right: 0.5rem;
                }
                &__input {
                    width: 40%;
                    padding: 0.01rem;
                    margin-right: 0.5rem;
                }
                &__senderDiv{
                    display: flex;
                    width: 100%;
                }
                &__textAreaDiv {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    @media(max-width:750px){
                        // height: 10rem;
                        }
                }
                &__textArea {
                   width: 100%;
                   height: max-content;
                   @media(max-width:750px){
                    // height: 10rem;
                    }
                }
                &__button {
                    border: none;
                    width: 20%;
                    margin-top: 0.5rem;
                    border-radius: 1rem;
                    background-color: green;
                    color:#f5f5f5 ;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                }
        }
    }

    &__mentions {
        height: 2rem;
        color:#f5f5f5 ;
        display: flex;
        align-content: center;
    }
}
