.footer {
    background-color: #222;
    display: flex;
    flex-direction: column;
    height: fit-content;
    color:#f5f5f5 ;
    text-transform: uppercase;

    &__content{
        display: flex;
        margin: 1rem;
        width: 80%;
        padding: 5px;
        justify-content: space-around;
        @media(max-width:750px){
            flex-direction: column;
            align-items: center;
        }
        &__social {
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            width: 40%;
            height: auto;
            margin-right: 1rem;
            
            @media(max-width:750px){
                width: 100%;
                margin-right: 0;
                align-items: stretch;
            }
            &__form {
                 display: flex;
                 flex-wrap: wrap;
                @media(max-width:750px){
               // align-items: center;
                }

                &__label { 
                    padding: 0.2rem;
                    width: 100%;
                    margin: 0 1rem 1rem 0;
                    @media(max-width:750px){
                        text-align: left;
                        width: 100%;
                    }

                }
                &__input {                   
                    max-width: 70%;
                    min-width: 70%;
                    padding: 0.3rem;
                    border-radius: 7px;
                    margin: 0 1rem 1rem 0;
                    border:none;
                    font-size: 1rem;
                    @media(max-width:750px){
                        align-content: center;
                        width: 100%;
                    }
                }
                &__button {
                    width: fit-content;
                    height: auto;
                    color:green;
                    background-color: #222;
                    border: none;
                    margin: 0 1rem 1rem 0;
                    &__icon{
                        width: 30px;
                        height: auto;  
                        &:hover{
                           cursor:pointer;
                        }
                    }
                }
            }
            &__network {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                justify-content: flex-start;
                align-items: flex-end;

                @media(max-width:750px){
                //align-items: center;
                //justify-content: center;
                }
                & p {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 0.5rem;
                }
                &__img {
                    margin: 0 1rem 1rem 0;
                    width: 25px;
                    height: auto;
                    @media(max-width:750px){
                        text-align: center;
                        align-self: center;
                    }
                }
            }
        }

        &__contact {
            width: 40%;
            display: flex;
            flex-direction: column;
            height: 15rem;
            height: fit-content;
            @media(max-width:750px){
            width: 100%;
            margin-right: 0;
            }
            
            &__form {
                margin-top: 0.5rem;
                display: flex;
                align-content: space-around;
                flex-wrap: wrap;
                &__label {
                    padding: 0.2rem;
                    margin-right: 0.5rem;
                }
                &__input {
                    width: 40%;
                    padding: 0.3rem;
                    border-radius: 7px;
                    border: none;
                    margin-right: 0.5rem;
                    font-size: 1rem;
                    @media(max-width: 650px){
                        width: 70%;
                    }
                }
                &__senderDiv{
                    display: flex;
                    width: 100%;
                    @media(max-width: 650px){
                        flex-direction: column;
                    }
                }
                &__textAreaDiv {
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    width: 100%;
                    margin-top: 1rem;
                }
                &__textArea {
                width: 100%;
                height: max-content;
                padding: 0.6rem;
                border-radius: 20px;
                border: none;
                font-size: 1rem;
                }
                &__button {
                    border: none;
                    width: 20%;
                    padding: 0.5rem;;
                    margin-top: 0.5rem;
                    border-radius: 1rem;
                    background-color: green;
                    color:#f5f5f5 ;
                    font-weight: bold;
                    text-transform: uppercase;
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
        }
    }

    &__mentions {
        height: 2rem;
        margin-top: 0.5rem;
        color:#f5f5f5 ;
        display: flex;
        align-content: center;
    }
}
