.footer {
    background-color: #222;
    border: 3px solid rgb(223, 4, 4);
    display: flex;
    flex-direction: column;
   // align-content: center;
    // align-items: center;
    height: fit-content;
    color:#f5f5f5 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    &__content{
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        height: auto;
        margin: 1rem;
        width: 90%;
        padding: 5px;
        background-color: rgb(44, 44, 44);
            &__social {
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(223, 4, 4);
                width: 50%;

                &__form {
                    display: flex;
                    flex-direction: column;
                    
                    &__label {
                        width: 80%;
                        // padding: 0.2rem;
                        // margin: 1rem;
                    }
                    &__input {
                        width: 40%;
                        padding: 0.2rem;
                        margin: 0 1rem;
                    }
                }
                &__network {
                    display: flex;
                    flex-direction: column;

                        &__p {
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 0.2rem;
                            margin: 1rem;
                        }
                        &__img {
                            margin: 0 1rem;
                            width: 30px;
                            height: auto;
                        }
                }
            }

            &__contact {
                border: 1px solid rgb(174, 10, 10);
                width: 25rem;
                width: 40%;
                display: flex;
                flex-direction: column;
                
                &__form {
                display: flex;
                flex-direction: column;
                align-items: center;
               // width: 80%;
                border: 1px solid black;
                &__label {
                    width: auto;
                }
                &__input {
                    width: 80%;
                    padding: 0.1rem
                }
                &__button {
                    width: 12%;
                    border-radius: 1rem;
                    background-color: green;
                }
                }
        }
    }

    &__mentions {
        height: 2rem;
        color:#f5f5f5 ;
        display: flex;
        align-content: center;
    }
}
